<!DOCTYPE html>
<html>
    <head></head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <style>
            @media screen and (min-width: 480px){
                #main{
                    background-color:lightgray;
                }
            }
        </style>
        {% block head %}
        <title>base</title>
        {% endblock %}
    </head>
    <body>
        <div id="main" class="container">
          <br/>
          <h5 style="text-align:center; color:red;">Built by Ba Dum Tss</h5>
          <h1 style="font-size:250%; text-align:center;">FLOAT MOODLE</h1>
        {% block body %}
        <br/>
        </div>
        {% endblock %}

        {% block page_content %}
        {% endblock %}
    </body>
</html>