{% extends 'loggedin.html' %}

{% block head %}
        <title>course_page</title>
{% endblock %}

{% block page_content %}
<div class="container">
    <br/> 
    <!--<h1 style="font-size:200%;">{{Person.user.username}}</h1> -->
    <p style="text-align:center;">
        <p style="text-align:center;">
            <a role="button" class="btn btn-primary btn-lg" href="create_course">Create Course</a>
            <a role="button" class="btn btn-primary btn-lg" href="chats">Chat</a>
            <a role="button" class="btn btn-primary btn-lg" href="todo">To Do</a>     
        </p>
        <h4>Courses under You</h4>
        {% for c in courses %}
        <li>
            <a role="button" class="btn btn-outline-primary btn-lg" href="{{c.name}}/">{{ c.name }}</a>
        </li>
        <br/>
        {% endfor %}
        <br/>
        <!--<h4>Courses You are Enrolled in</h4>
        {% for c in c_enrol %}
        <li>
            <a role="button" class="btn btn-outline-primary btn-lg" href="{{c.name}}/">{{ c.name }}
                {% for key, value in prcnt %} 
                {% if key == c.name %}
                    {{ value }}%
                {% endif %}
                {% endfor %}
            </a>
        </li>
        <br/>
        {% endfor %}-->
        <h4>Courses You are Enrolled in</h4>
        {% for key, value in prcnt.items %} 
        <li>
            <a role="button" class="btn btn-outline-primary btn-lg" href="{{key}}/">{{ key }} {{value}}%</a>
        </li>
        {% endfor %}
        <br/>
        <h4>Assignments To Do!</h4>

        <p style="text-align:center;">

            <h5>Access by Code</h5>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value='Access Assignment'></input>
            </form>
            <br/>
            <br/>
        </p>
        <!--<h5>Select from Below</h5>
        {% for u in works %}
        <br/>
        <li>
            <a role="button" class="btn btn-outline-primary btn-lg" href="{{u.name}}/">{{u.name}}</a>
        </li>
        {% endfor %}-->
    </p>

</div> 
{% endblock %}