{% extends 'loggedin.html' %}

{% block head %}
        <title>{{c.name}}</title>
{% endblock %}

{% block page_content %}
<div class="container">
    <br/> 
    <!--<h1 style="font-size:200%;">{{Person.user.username}}</h1> -->
    <p style="text-align:center;">
        <p style="text-align:center;">
            <a role="button" class="btn btn-primary btn-lg" href="members">Members</a>
            <a role="button" class="btn btn-primary btn-lg" href="create_work">Create Assignment</a>
            <a role="button" class="btn btn-primary btn-lg" href="evaluate_work">Evaluate Assignments</a>
            <a role="button" class="btn btn-primary btn-lg" href="course_chat">Course Forum</a>
        </p>
        <h4>{{c.name}}'s Educator's Handle</h4>
        <br/>
        <h4>Announcements!</h4>
        <a role="button" class="btn btn-primary btn-lg" href="announce/">Make Announcement</a>
        <p style="text-align:center;">
            {% for a in announce %}
            <li>
                {{ a.content }}
            </li>
            {% endfor %}
        <br/>
        </p>
        <h5>Assignments to Evaluate</h5>
        {% for u in works %}
        <br/>
        <li>
            <a role="button" class="btn btn-outline-primary btn-lg" href="evaluate_work/{{u.name}}/">{{u.name}}</a>
        </li>
        {% endfor %}
    </p>

</div> 
{% endblock %}