{% extends 'loggedin.html' %}

{% block head %}
        <title>Evaluate</title>
{% endblock %}

{% block page_content %}
<div class="container">
    <br/> 
    <!--<h1 style="font-size:200%;">{{Person.user.username}}</h1> -->
    <p style="text-align:center;">
        <h4>Select submission to Evaluate {{ name }}......... 
        {% for u in assignments %}
        <br/>
        <li>
            <a role="button" class="btn btn-outline-primary btn-lg" href="{{u.name}}/">{{u.name}}</a>
        </li>
        {% endfor %}
    </p>

</div> 
{% endblock %}