{% extends 'loggedin.html' %}

{% block head %}
        <title>{{remove_Students}}</title>
{% endblock %}

{% block page_content %}
<div class="container">
    <br/> 
    <h4>REMOVE STUDENTS</h4>
    <p>
        <form method="POST">
            {% csrf_token %}
            {% for u in people %}
            <li>
                <input type="checkbox" value="{{ u.user.username }}">{{ u.user.username }}
            </li>
            {% endfor %}
            <input type="text" name="chkvalue"/>
            <input type="submit" value="Insert Record"/>
        </form>
    </p>
</div> 
{% endblock %}