{% extends 'loggedin.html' %}

{% block head %}
        <title>show_assignment</title>
{% endblock %}

{% block page_content %}
<div class="container">
    <br/>  
    <p style="text-align:center;">
        <h4>Your {{ assign.work.crs.name }}'s {{ assign.work.name }} submission ......... <a href= "/course_page/">Back to Course Page</a></h4>
    </p>
    <br/>
    <a href="{{ assign.submission.url }}" class='btn btn-primary btn-sm'>View Submission</a>

    <br/>
    <br/>
    {% if status %}
        <h5>Marks : {{ assign.obtained_marks }}/{{ assign.work.total_marks }}</h5>
    {% else %}
        <h5>Not Evaluated yet!</h5>
    {% endif %}
</div> 
{% endblock %}